/* Styles go here */
.App-link{
    background-color: rgb(24, 168, 168);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 40px;
    border-style: none;
    padding: 3%, 3%;
    translate:inherit;
}

.App-link:hover{
    width: 202px;
    height: 41px;
    transition: all 0.05s;
    color: white;
    background-color: rgba(24, 168, 168, 0.9);
    border-style: none;
}

